main {
	width: 80%;
	margin: 10vh auto 0;
	border: medium solid black;
	background-color: rgb(156, 170, 175);
	height: 70vh;
	display: grid;
	grid-template-columns: 1fr;
	/* quien? , buscar , que cosa/resultado , razon , hora devolucion , comentario */
	grid-template-rows: repeat(6, 1fr);
	/* grid-area: "search" "resultado" "quien" "devolucion" "razon" "comentario"; */
	padding: 3rem;
}
input {
	width: 90%;
}
.btn-outline-secondary {
	background-color: #e9ecef;
}
.input-conteiner {
	text-align: end;
}
.input-conteiner > * {
	width: auto;
	margin-top: 2rem;
}
textarea {
	resize: none;
}
#btn1:checked + label[for="btn1"] {
	background-color: rgb(108, 117, 125);
	border-bottom-color: rgb(108, 117, 125);
	color: white;
	border: 2px solid rgb(75, 78, 82);
}
#btn2:checked + label[for="btn2"] {
	background-color: rgb(108, 117, 125);
	border-bottom-color: rgb(108, 117, 125);
	color: white;
	border: 2px solid rgb(75, 78, 82);
}
label[for="btn2"]:hover,
label[for="btn1"]:hover {
	border: 2px solid rgb(75, 78, 82);
}
.input-group-text {
	width: 90px;
	display: flex;
	justify-content: center;
}
/* label[for="btn2"],
label[for="btn1"] {
	border-radius: 10px;
} */
