* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
	background-image: linear-gradient(#5dade2 50%, #074975);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}
h2 {
	margin-top: 30px;
	text-align: center;
	font-size: 2rem;
}
h1 {
	margin: 0;
}
h3 {
	margin-left: auto;
}
.nav-conteiner {
	padding-top: 20px;
	background-color: white;
	box-shadow: -0.5rem -0.5rem 3rem 0 gray inset;
	border-bottom: thick solid black;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
}
.nav-btn {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
.nav-title {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.nav-link:focus {
	background-color: rgb(13, 110, 253);
	color: white;
}
.nav-link:focus a {
	color: white;
}

.nav-link:hover {
	background-color: #40b3e0;
	color: white;
}
form {
	width: 80%;
	margin: 10vh auto 0;
	border: medium solid black;
	background-color: rgb(156, 170, 175);
	height: 70vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
	padding: 3rem;
	overflow-y: hidden;
}
input {
	width: 90%;
}
.btn-outline-secondary {
	background-color: #e9ecef;
}
.input-conteiner {
	text-align: end;
}
.input-conteiner > * {
	width: auto;
	margin-top: 2rem;
}
textarea,
label[for="floatingTextarea2"] {
	resize: none;
	margin-top: 14px;
}
#btn1:checked + label[for="btn1"] {
	background-color: rgb(108, 117, 125);
	border-bottom-color: rgb(108, 117, 125);
	color: white;
	border: 2px solid rgb(75, 78, 82);
}
#btn2:checked + label[for="btn2"] {
	background-color: rgb(108, 117, 125);
	border-bottom-color: rgb(108, 117, 125);
	color: white;
	border: 2px solid rgb(75, 78, 82);
}
label[for="btn2"]:hover,
label[for="btn1"]:hover {
	border: 2px solid rgb(75, 78, 82);
}
.input-group-text {
	width: 100px;
	display: flex;
	justify-content: center;
}
table {
	margin-top: 2em;

	width: 100%;
	margin: 0;
}
tbody {
	overflow: scroll;
}
thead {
	/* display: fixed; */ /* seguro hace falta. No anda */
	background-color: rgb(248, 249, 250);
	background-image: linear-gradient(rgb(255, 255, 255), rgb(165, 159, 159));
}
th {
	border-left: thin solid white;
	padding-left: 1em;
}
th:first-child {
	border: none;
}
thead {
	background-color: white;
	position: sticky;
	top: 0;
}
/* tr {
	display: flex;
	justify-content: space-around;
	border: thin solid black;
} */
/* tr {
	display: grid;
	grid-auto-rows: 1fr;
	justify-content: center;
} */
/* thead tr {
	display: flex;
	justify-content: space-between;
} */
tbody tr {
	background-color: rgb(223, 224, 225);
}
tbody tr:nth-child(2n) {
	background-color: rgb(182, 183, 184);
}
input[type="text"],
span.input-group-text {
	max-height: 50px;
}
