html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: sans-serif;
}
body {
	background-color: whitesmoke;
	margin: 0;
}
.title {
	padding-top: 20px;
	height: 70px;
	border-bottom: medium solid black;
	background-color: #ffffff;
	text-align: center;
	font-size: 2.5rem;
}
#buscador {
	margin: 0 auto;
	height: 1rem;
	padding: 2px;
	width: 90vw;
	display: block;
}
.resultado {
	/* margin: 20px auto 0;
	height: 1rem;
	padding: 2px;
	width: 70vw; */
	display: flex;
}
.resultado #resultado {
	margin: 20px auto 0;
	height: 1rem;
	padding: 2px;
	width: 70vw;
}
.resultado input[type="submit"] {
	min-width: 6ex;
	width: 3vw;
	margin: 20px auto 0;
	height: 4ex;
	padding: 2px;
}
.subtitle {
	font-size: 2rem;
}
.box {
	flex-flow: row nowrap;
	display: flex;
	/* text-align: center; */

	width: calc(95% - 50px);
	margin: 0 auto;
	border: thin solid black;
	/* padding-top: 50px;
	padding-bottom: 50px; */
	padding: 40px;
	background-color: #ffffff;
	justify-content: space-around;
}
.box > * {
	/* columns: 200px 4; */
	/* flex: 1 200px; */
	flex-grow: 1;
}
.box > *:nth-child(4) {
	flex-grow: 0.25;
}
select {
	width: 200px;
}
.leftDistance {
	margin-left: 50px;
}
